.about-page {
    .about-header {
      //background-image: url('path_to_your_image.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-bottom: 2rem; // Espacer le header du contenu
    }
  }
  