.logement-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logement-images {
  margin-bottom: 20px;
}

.logement-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #FF6060;
    margin: 0;
  }

  .location {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #FF6060;
    margin: 10px 0 0 0;
  }
  
  .logement-tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1em;
      gap: 0.5em;
  }
  
  .tag {
    background-color: #FF6060;
    color: #fff;
    border-radius: 15px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    white-space: nowrap;
  }      
}

.logement-host {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: #FF6060;
  }
}

.logement-rating {
  display: flex;
  justify-content: end;   
}

.logement-collapse-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .collapse-container {
    width: 40%;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .logement-details {
    flex-direction: column;

    .location {
      margin-top: 0.5em;
    }
  }
  
  .logement-host {
    flex-direction: column;
    align-items: flex-end;

    img {
      margin-right: 0;
      margin-bottom: 0.5em;
    }
  }

  .logement-rating {
    justify-content: space-between;
  }

  .logement-collapse-sections {
    flex-direction: column;

    .collapse-container {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  .logement-host {
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 50%;
    margin: 0;
  }

  .section-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .logement-details {
    .location,
    p {
      font-size: 16px;
      width: 100%;
    }
  }

  .logement-tags .tag {
    font-size: 0.8em;
  }

  .logement-host {
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 50%;
    margin: 0;
  }

  .section-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
