.logement-container {
    // Appliquer des styles généraux pour le conteneur
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px; // par exemple
  }
  
  .logement-images {
    // Styles pour le carrousel des images
    margin-bottom: 20px; // par exemple
  }
  
  .logement-details {
    // Styles pour les détails du logement
    h2 {
      font-size: 1.5em; // par exemple
      color: #333; // par exemple
      margin-bottom: 0.5em;
    }
    
    h3 {
      font-size: 1.2em;
      color: #777; // par exemple
      margin-bottom: 1em;
    }
    
    .logement-tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em; // ajoute un espace au-dessus des tags
        gap: 0.5em; // espace entre les tags
      }
      
      .tag {
        background-color: #ffd2d2;
        border-radius: 15px;
        padding: 0.5em 1em;
        font-size: 0.9em;
        white-space: nowrap;
      }      
  }
  
  .logement-host {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    img {
      width: 50px; // par exemple
      height: 50px; // par exemple
      border-radius: 50%;
      margin-right: 10px;
    }
  
    p {
      font-weight: bold;
    }
  }
  
  .logement-rating {
    .star-rating {
        font-size: 1.5em;
        color: #ffdd00; // Couleur jaune pour les étoiles remplies
        .empty-star {
          color: #cccccc; // Couleur grise pour les étoiles vides
        }
      }      
  }
  
  .logement-collapse-sections {
    // Styles pour les sections repliables
    .collapse-title {
      // Styles pour le titre des sections repliables
    }
    
    .collapse-content {
      // Styles pour le contenu des sections repliables
    }
  }
  
  // Vous pouvez également ajouter des médias queries pour rendre le design réactif
  @media (max-width: 768px) {
    .logement-container {
      // Adapter les styles pour les appareils mobiles
    }
  }
  
  