.card-link {
  text-decoration: none;
  color: inherit;
  height: 280px;
  
    .card {
      border-radius: 10px; // Radius que vous souhaitez
      overflow: hidden; // Pour s'assurer que l'image ne dépasse pas les bords arrondis
      transition: transform 0.3s ease; // Un effet de transition pour le survol
      height: 280px;
      
  
      &:hover {
        transform: scale(1.05); // Un léger effet de zoom au survol
      }
  
      .card-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
  
      .card-title {
        position: relative;
        padding: 0.5rem;
        color: white;
        bottom: 50px;
        left: 0;
        width: 33%;
      }
    }
  }
  