.card-link {
  text-decoration: none;
  color: inherit;
  height: 280px;

  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 280px;

    &:hover {
      transform: scale(1.05);
    }

    .card-image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .card-title {
      position: absolute;
      padding: 0.5rem;
      color: white;
      bottom: 0px;
      left: 0;
      z-index: 2;
      width: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
      border-radius: 10px 10px 0 0;
      z-index: 1;
    }
  }

  @media (max-width: 768px) {
    height: 200px;

    .card {
      height: 200px;

      .card-title {
        bottom: 0px;
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 480px) {
    height: 200px;

    .card {
      height: 200px;

      &:hover {
        transform: none;
      }

      .card-title {
        bottom: 0px;
        font-size: 0.8rem;
      }
    }
  }
}