.collapse-container {
  margin-bottom: 20px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .arrow-icon {
    transition: transform 0.3s ease;
    margin-left: 10px;
    &.down {
      transform: rotate(0deg);
    }
    &.up {
      transform: rotate(180deg);
    }
  }

  .collapse-toggle {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #FF6060;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    
    &:hover {
      background-color: darken(#FF6060, 5%);
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
  
  &.open .collapse-content {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  &.closed .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .collapse-content {
    overflow: hidden;
    background-color: #F6F6F6;
    position: relative;
    color: #FF6060;
    padding: 0 10px;

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }
  }

  &.open .arrow-icon {
    transform: rotate(180deg);
  }
  
  &.closed .arrow-icon {
    transform: rotate(0deg);
  }
}