.image-carousel-container {
  position: relative;

  img.carousel-image {
    width: 100%;
    display: block;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 768px) {
      height: 300px;
    }

    @media (max-width: 480px) {
      height: 200px;
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  }

  .carousel-arrow {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 50px;
      height: 50px;
      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .left {
    left: 10px;
    @media (max-width: 768px) {
      left: 5px;
    }
  }

  .right {
    right: 10px;
    @media (max-width: 768px) {
      right: 5px;
    }
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
