.footer-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: auto;

  .footer-logo {
    width: 100px;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    width: 35%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      margin-bottom: 0;
    }

    p {
      text-align: center;
    }
  }
}
