.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #ff6060;

  .logo {
    font-size: 3rem;
    margin-bottom: 20px;
    
    span {
      color: #000;
    }
  }

  h1 {
    font-size: 12rem;
    font-weight: bold;
    margin: 50px;
  }

  p {
    font-size: 1.5rem;
    margin: 50px;
  }

  a {
    color: #ff6060;
    margin: 50px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .not-found {
    h1 {
      font-size: 8rem;
      margin: 20px;
    }

    p {
      font-size: 1.2rem;
      margin: 20px;
    }

    a {
      margin: 20px;
    }
  }
}

@media (max-width: 480px) {
  .not-found {
    .logo {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 5rem;
      margin: 10px;
    }

    p {
      font-size: 1rem;
      margin: 10px;
    }

    a {
      margin: 10px;
    }
  }
}
